<p>Consultar</p>
<div class="row">
    <div class="col-6">
      
    </div>
    </div>
    <hr>
    <table class="table table-striped" *ngIf='personas && personas.length'>
    <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">identificación</th>
    <th scope="col">nombres </th>
    <th scope="col">sexo</th>
    <th scope="col">Edad</th>
    <th scope="col">Departamento </th>
    <th scope="col">Ciudad </th>
    <th scope="col">ValorApoyo</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let persona of personas; index as i ">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ persona.identificacion }} </td>
    <td>{{ persona.nombres }}</td>
    <td>{{persona.sexo }}</td>
    <td>{{ persona.edad }}</td>
    <td>{{ persona.departamento }}</td>
    <td>{{ persona.ciudad }}</td>
    <td>{{ persona.ValorApoyo }}</td>
    </tr>
    </tbody>
    </table>

    <div class="form-group">
        <label>Total del ValorApoyo</label>
        <label value="{{Suma}}"> </label>
    </div>
